.container {
  padding: 98px 0;
}

.wrapper {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0px 64px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}
